<div class="board">
    <app-score></app-score>

    <div class="game-board">
        <div *ngFor="let row of gameService.gameMap; let x = index" class="game-board_row">
            <div *ngFor="let cell of row; let y = index"
                (click)="gameService.handlePlayerAction(x, y, CELL_STATUS.USER)"
                class="game-board_cell"
                [class.game-board_cell--red]="cell === CELL_STATUS.COMPUTER"
                [class.game-board_cell--green]="cell === CELL_STATUS.USER"
                [class.game-board_cell--yellow]="gameService.drawingCell && gameService.drawingCell.x === x && gameService.drawingCell.y === y">
            </div>
        </div>
    </div>

    <div class="new-game">
        <input type="number"
            matInput 
            class="new-game_input"
            [(ngModel)]="timeIntervalInput"
            placeholder="Время ожидания (млсек)">
    
        <button mat-raised-button
            color="warn"
            class="new-game_btn-start"
            [disabled]="!timeIntervalInput"
            (click)="startNewGame()">Начать</button>
    </div>
</div>

<app-message *ngIf="isShowPopup" (closeMessage)="closePopup()"></app-message>
