.board {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board {
    display: flex;
    flex-direction: column;
  
    &_row {
      display: flex;
    }
  
    &_cell {
      margin: 3px;
      border-radius: 7%;
  
      max-width: 60px;
      max-height: 60px;
  
      width: 3vw;
      height: 3vw;
  
      background-color: blue;
  
      &--yellow {
        background-color: yellow;
      }
  
      &--red {
        background-color: red;
      }
  
      &--green {
        background-color: green;
      }
    }
}

.new-game {
  margin-top: 20px;
  width: 400px;

  display: flex;
  justify-content: space-between;

  &_input {
    width: 200px;
  }
}
