<div class="score">
    <p class="score_label">СЧЕТ</p>
  
    <div class="score_result">
      <p>Пользователь: {{gameService.gameScore.userCount}}</p>
      <p>Компьютер: {{gameService.gameScore.computerCount}}</p>
    </div>
</div>