.score {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    justify-content: space-between;
  
    &_label {
      font-size: 20px;
      font-weight: 900;
      margin-right: 20px;
    }
  
    &_results {
      width: 170px;
      display: flex;
      justify-content: space-between;
    }
  }