<div class="message">
  <div class="game-result">
    <h1 mat-dialog-title>Игра окончена</h1>
    <div mat-dialog-content>ПОБЕДИТЕЛЬ: {{gameService.gameScore.winner === CELL_STATUS.USER ? 'ПОЛЬЗОВАТЕЛЬ' : 'КОМПЬЮТЕР'}}</div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close (click)="closeMessage.emit()">OK</button>
    </div>
  </div>
</div>
