.message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.3);
  
    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .game-result {
    border-radius: 3%;
    background-color: #f2f2f2;
  
    width: 450px;
    height: 350px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }